body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f4f4f4;
}

header {
    background: #2e7d32;
    color: white;
    text-align: center;
    padding: 30px 20px;
}

.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 0 20px;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);

    flex: 0 0 250px;
}


section {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

footer {
    text-align: center;
    padding: 20px;
    color: #555;
}
